.container{
    margin-top:20px;
    display: flex;
    justify-content: center;
}

.navigate{
    width:fit-content;
    padding:10px 30px;
    background-color:#ed3d2b;
    color:#fff;
    float:right;
    position:sticky;
    top:80px;
    cursor:pointer;
}

.container .form-container{
    display: flex;
    flex-direction: column;
    width:90%;
    background-color: #f1f1f1;

}


.twoColumns{
    display: grid;
    grid-template-columns: auto auto;
    margin:20px 0;
}


.title{
    background-color:#7777fa;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.title h1{
    margin-left: 20px;
    margin-bottom:0;
}
mat-icon{
    color: #7777fa;
}
.add{
    background-color:#fff;
    border:none;
    height:25px;
    width:25px;
    border-radius:50%;
    margin-right: 20px;
    cursor: pointer;
}


.addinput >div,.flex-child{
    display:flex;
    gap:50px;
}
.addinput,.flex{
    margin-left: 40px;
}
.flex{
    display:flex;
    flex-direction: column;
    background-color: #fff;
    margin:0 40px 20px;
    padding:20px;
    border-radius:15px;

}

h2{
    margin:16px 0 16px 60px;
}
.buttonAjouter{
    width:70px;
    height:25px;
    cursor:pointer;
    border:none;
    border-radius:10px;
    background-color: #00ff007d;
}
.buttonAjouter:hover:enabled{
    background-color: #00ff00;
}

.labels{
    display:grid;
}
.inputs{
    display:grid;
}
.labels,.inputs{
    gap:10px;
}
.margin{
    margin:20px 0;
}

@media (max-width: 1024px) {  
    .twoColumns{
        grid-template-columns: auto;
    }

}
/* Landscape phone to portrait tablet */
@media (max-width: 936px) {
    .MainTitle{
        justify-content: start;
        padding: 0 calc(50% - 150px);
    }

}

@media (max-width: 768px) {
    .parent{
        display:grid;
    }
    .navigate{
        background-color: #ed3d2ba1;
        color: #000;
        position:sticky;
        top:61px;
        padding-left:20px;
        margin-left:20px;
    }
    .navigate::after{
        content:'';
        position: absolute;
        left:-20px;
        top:0;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent; 
        border-right:20px solid #ed3d2ba1;
        clear: both;
    }
    .navigate:hover{
        background-color: #ed3d2b;
    }
  
}

@media (max-width: 480px) {
    .flex{
        margin:0 0 20px 0px;
        padding-right:0;
    }
    .addinput{
        margin-left: 20px;
    }
    .addinput >div,.flex-child{
        display:flex;
        gap:10px;
    }
    .labels,.inputs{
        gap:10px;
    }
}

@media (max-width: 320px) {  

}

