.navbar{
    position:relative;
    width: 100%;
}
#menuToggle{
    position:relative;
    top:50px;
    left:50px;
}
nav{
    
    height: calc(100vh - 81px);
    padding-top:20px;
        
}
.menu{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    display:none;
}
ul{
    position:sticky;
    top:80px;
}
li{
    padding:20px 30px;
    list-style :none;
    position: relative;
    color:#fff;
    border-bottom:1px solid #fff;
    cursor: pointer;
}
li:hover{
    padding-left:0;
    margin-left:30px;
    background-color:#fff;
    position: relative;
    border:none;
    color:#0f1a34;
}
li:hover::before{
    content:'';
    width:30px;
    height:60px;
    border-radius:60px 0 0 60px;
    background-color:#fff;
    position: absolute;
    bottom:0px;
    left:-30px;
}

.closebtn {
    display:none;
}


@media (max-width:1024px) {
    .navbar{
        background: linear-gradient(90deg, rgba(15,26,52,1) 0%, rgba(10,55,161,1) 44%, rgba(117,69,252,1) 100%);
        width: 100%;
    }
    nav{
        height: auto;
        padding-top:0;          
    }
    ul{
        position:static;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    li:hover{
        padding-left:30px;
        margin-left:0;
    }
    li:hover::before{
        content:none;
    }
}
@media (max-width:425px) {
    .closebtn {
        display:block;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        cursor:pointer;
    }
    .menu{
        display:block;
    }
    ul{
        padding-top: 40px;
        grid-template-columns: auto;
    }

    @keyframes example {
        from {top: 0px;}
        to {top: 200px; background-color: blue;}
      }
}