<div class="container">
    <form class="form" [formGroup]="experienceForm">
        <div class="parent">
            <div class="one">
                <div class="select-label">
                    <label for="typeOffre"></label>
                    <select name="typeOffre" id="typeOffre"  formControlName="type" autofocus>
                        <option value="">Type d'offre</option>
                        <option *ngFor="let type of typeOffre" [value]="type.value">{{type.viewValue}}</option>
                    </select> <span class="etoile">*</span>
                </div>
                <div class="input-label">
                    <label for="poste">Poste <span class="etoile">*</span></label>
                    <input type="text" name="poste" id="poste"  formControlName="poste">
                </div>
                <div class="input-label">
                    <label for="lieu">Lieu <span class="etoile">*</span></label>
                    <input type="text" name="lieu" id="lieu"  formControlName="lieu">
                </div>
                <div class="input-label">
                    <label for="salaire">Salaire <span class="etoile">*</span></label>
                    <input type="text" name="salaire" id="salaire"  formControlName="salaire">
                </div>
                <div class="select-label">
                    <label for="typeContrat"></label>
                    <select name="typeContrat" id="typeContrat"  formControlName="contrat">
                        <option value="">Type contrat</option>
                        <option *ngFor="let type of typeContrat" [value]="type.value">{{type.viewValue}}</option>
                    </select><span class="etoile">*</span>
                </div>
                <div class="input-label">
                    <label for="dureeContrat">Durée contrat <span class="etoile">*</span></label>
                    <input type="text" name="dureeContrat" id="dureeContrat"  formControlName="dureeContrat">
                </div>
                
            </div>
            <div class="two">
                <div class="area-label">
                    <label for="description">description <span class="etoile">*</span></label>
                    <textarea name="description" id="description" formControlName="description" ></textarea>
                </div>
                <div class="area-label">
                    <label for="competence">Compétence <span class="etoile">*</span></label>
                    <textarea name="competence" id="competence" formControlName="competence"></textarea>
                </div>
            </div>
        </div>
        <div class="divButton">
            <button [disabled]="experienceForm.invalid" (click)="publier()" mat-raised-button>PUBLIER</button>
        </div>

    </form>
</div>