<div class="container">
    <div class="navigate" routerLink="/profil">profile</div>
    <!-- <div class="candidats" *ngIf="type=='admin'">ffffffffffffffffffffffffffffffffffffffffff</div> -->
    <div class="margin-container">
      <div *ngIf="offres?.length==0">aucun offre est publié</div>
      <div class="offres">
        <mat-card class="example-card" *ngFor="let offre of offres">
            <div>
              <mat-card-title>{{offre.POSTE}}</mat-card-title>
              <mat-card-subtitle>{{offre.LIEU}} /// {{offre.TYPE}} /// {{offre.DATEOFFRE.slice(0,10)}}</mat-card-subtitle>
            </div>
  
            <mat-card-content>
              <p class="description">{{offre.DESCRIPTION}}</p>
              <p>Compétence : {{offre.COMPETENCES?.toUpperCase()}}</p>
              <p>Contrat : {{offre.CONTRAT?.toUpperCase()}}</p>
              <p>Durée : {{offre.DUREECONTRAT?.toUpperCase()}}</p>
              <p>Salaire : {{offre.SALAIRE?.toUpperCase()}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button [id]="offre.IDOFFRE" [class]="postulations?.indexOf(offre.IDOFFRE) == -1 || postulations==undefined? 'primary_hover' :''" [disabled]="attrrDisable(offre.IDOFFRE)" mat-raised-button (click)="postuler(offre.IDOFFRE)" color="primary">{{postulations?.indexOf(offre.IDOFFRE) == -1 || postulations==undefined?'POSTULER':'DÉJA POSTULER'}}</button>
              <!-- <button [id]="offre.IDOFFRE" [class]="postulations?.indexOf(offre.IDOFFRE) == -1 || postulations==undefined? 'primary_hover' :''" mat-raised-button (click)="postuler(offre.IDOFFRE)" color="primary">{{postulations?.indexOf(offre.IDOFFRE) == -1 || postulations==undefined?'POSTULER':'DÉJA POSTULER'}}</button> -->
            </mat-card-actions>
        </mat-card>
      </div>
    </div>
      
  </div>
