#mainHeader {
    border-bottom: 4px solid rgb(0, 102, 255);
    height:calc(100% - 4px);
}

#bottomHeader {
    height: 100%;
    background-position-y: 50%;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;

}
#bottomHeader #contentHeader {
    margin-bottom: 20px;
}
#bottomHeader #contentHeader #firstLine{
    color: #003153;
    font-size:30px;
    font-weight:300;
    letter-spacing: .1em;
    font-family:'IBM Plex Sans Thai Looped', sans-serif;
    margin: 0;
    text-align: center;
}
#firstLine::after{
    content: "\a";
    white-space: pre;
}
#thirdLine::after{
    content: " ";
}
#bottomHeader #contentHeader #secondLine{
    color: #3d8bca;
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:100;
    font-style: oblique;
    letter-spacing: .05em;
}

#bottomHeader #buttonHeader #signHeader{
    background-color: #003153;
    color: #fafafa;
    border: 1px solid #003153;
    border-radius:3px;
    margin-right: 50px;
    padding:10px 30px;
    text-decoration: none;
    width:180px;
    box-sizing:border-box;
    transition: color .5s ,background-color .5s ;
}

#bottomHeader #buttonHeader #signHeader:hover{
    background-color: #fafafa;
    color: #003153;
}

.createButton{
    background-color: transparent;
    color: #003153;
    border: 1px solid #003153;
    border-radius:3px;
    padding:10px 25px;
    text-decoration: none;
    width:180px;
    box-sizing:border-box;
    transition: color .5s ,background-color .5s ;
}

.createButton:hover{
    background-color: #003153;
    color: #fafafa;
    border: 1px solid #003153;
    border-radius:3px;
}


@media (max-width: 480px) {
    #bottomHeader #contentHeader {
        text-align:center;
    }
    #bottomHeader #contentHeader #firstLine{
        font-size:25px;
    }
    #bottomHeader #contentHeader #secondLine{
        font-size:18px;
    }
    #buttonHeader{
        display:flex;
        flex-direction:column;
        gap:20px;
    }
    #thirdLine::after{
        content: "\a";
        white-space: pre;
    }
    #bottomHeader #buttonHeader  #signHeader{
        margin-right: 0;

    }
}

