<header id="mainHeader">
    <div id="bottomHeader">
        <div id="contentHeader">
            <span id="firstLine">POSTULER VOTRE CV</span>
            <span id="secondLine"><span id="thirdLine">ET CHERCHER VOTRE</span><span id="fourthLine">EMPLOI DE RÊVE</span></span>
        </div>
        <div id="buttonHeader">                    
            <a id="signHeader" routerLink="/home/login">CONNECTER</a>                    
            <a class="createButton" routerLink="/home/createAccount">CRÉER UN COMPTE</a>
        </div>
    </div>
</header>